#phone,
#addPhone {
	display: inline-block;
}

#addPhone {
	margin-left: 2em;
	margin-bottom: .5em;
}


#addButton {
	margin-left: 1em;
}

#addAddress,
#addButton {
	margin-top: 1em;
}

ul {
	list-style-type: none;
}

.hidden {
	display: none;
}